<div
  [class]="page + '-page-container'"
  class="auth-page-container"
>
  <div class="left-side-image-bg">
    <img [src]="AssetsSrcConstant.FLAT_LOGO" alt="" class="logo-img">
    <h3 class="slogan">Making Your Work<br>Become<br>Easy and Professional</h3>
    <img [src]="bgImgSrc" alt="" class="center-img-bg">
  </div>
  <div class="right-side-auth-form">
    <div class="d-flex flex-column">
      <img [src]="AssetsSrcConstant.LOGO" alt="" class="logo-img">
      <h1 class="auth-title">{{page | titlecase}} to Notemon</h1>
      <form class="auth-form">
        <div class="form-field">
          <mat-label>Email</mat-label>
          <mat-form-field appearance="legacy" class="email-field" floatLabel="never">
            <input
              class="email-input"
              id="email-input"
              matInput
              placeholder="Enter your email"
              type="email">
          </mat-form-field>
        </div>

        <div class="form-field">
          <mat-label>Password</mat-label>
          <mat-form-field appearance="legacy" class="email-field" floatLabel="never">
            <input
              class="password-input"
              id="password-input"
              matInput
              placeholder="Enter your password"
              type="password">
          </mat-form-field>
        </div>
        <a class="forgot-password" href="">Forgot Password?</a>
        <div class="auth-action-buttons">
          <button class="local-auth-btn" disableRipple mat-button>{{page | titlecase}}</button>
          <span class="or-divider">or</span>
          <button class="google-auth-btn">
            Google
            <img [src]="AssetsSrcConstant.GOOGLE_LOGO" alt="" class="google-logo">
          </button>
        </div>
        <p class="go-signup">New a member? <a href="" mat-button>Signup now</a></p>
      </form>
    </div>
  </div>
</div>
