<div
  [class]="page + '-page-container'"
  class="auth-page-container"
>
  <div class="left-side-image-bg">
    <img [src]="AssetsSrcConstant.FLAT_LOGO" alt="" class="logo-img">
    <h3 class="slogan">Making Your Work<br>Become<br>Easy and Professional</h3>
    <img [src]="page | authBgImg" alt="" class="center-img-bg">
  </div>
  <div class="right-side-auth-form">
    <div class="d-flex flex-column">
      <img [src]="AssetsSrcConstant.LOGO" alt="" class="logo-img">
      <h1 class="auth-title">{{page | titlecase}} to Notemon</h1>
      <form class="auth-form">
        <login-form *ngIf="page === AppRouteConstant.LOGIN"></login-form>
        <signup-form *ngIf="page === AppRouteConstant.SIGNUP"></signup-form>
        <a class="forgot-password" href="">Forgot Password?</a>
        <div class="auth-action-buttons">
          <button class="local-auth-btn" disableRipple mat-button>{{page | titlecase}}</button>
          <span class="or-divider">or</span>
          <button class="google-auth-btn">
            Google
            <img [src]="AssetsSrcConstant.GOOGLE_LOGO" alt="" class="google-logo">
          </button>
        </div>
        <p *ngIf="page === AppRouteConstant.LOGIN" class="go-navigate">
          New a member?
          <a [routerLink]="['/', AppRouteConstant.SIGNUP]" mat-button>Signup now</a>
        </p>
        <p *ngIf="page === AppRouteConstant.SIGNUP" class="go-navigate">
          Already have an account?
          <a [routerLink]="['/', AppRouteConstant.LOGIN]" mat-button>Login now</a>
        </p>
      </form>
    </div>
  </div>
</div>
