@import "~src/variables";

.input-base-style {
  font-family: $font-family-tertiary;
  font-size: 14px;
}

:host {
  width: 100%;
  height: 100%;
}

:host ::ng-deep .mat-form-field {
  .mat-form-field-wrapper {
    padding-bottom: 0;
  }

  .mat-form-field-flex {
    background-color: $color-input-bg-light-blue;
    border-radius: 8.5px;
    padding: 0 15px;
    height: 45px;
    align-items: center;

    .mat-form-field-label {
      @extend .input-base-style;
      color: $color-on-background-gray-light;
    }

    &:hover {
      border: 1px solid $color-focus-primary-light;
      outline: 3.5px solid rgba(97, 197, 174, 0.15);
    }

    .mat-form-field-infix, .mat-form-field-outline-start, .mat-form-field-outline-gap, .mat-form-field-outline-end {
      border: 0;
    }
  }

  .mat-form-field-underline {
    display: none;
  }

  &.mat-focused .mat-form-field-flex {
    border: 1px solid $color-primary-light;
    outline: 3.5px solid rgba(97, 197, 174, 0.35);

    .mat-form-field-label {
      color: $color-on-background-gray;
    }
  }

}

.auth-page-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: stretch;

  .left-side-image-bg {
    flex: 4;
    padding: 35px 50px;

    .logo-img {
      width: 145px;
      height: auto;
      opacity: 0.85;
    }

    .slogan {
      font-family: $font-family-mono;
      font-weight: 700;
      font-size: 20px;
      line-height: 35px;
      text-align: right;
      color: #fff;
      opacity: 0.8;
      margin-top: 45px;
    }

    .center-img-bg {
      width: 500px;
      height: auto;
      margin-top: 25px;
    }
  }

  .right-side-auth-form {
    flex: 8;
    padding: 0 85px 125px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    .logo-img {
      width: 100px;
      height: auto;
    }

    .auth-title {
      font-family: $font-family-secondary;
      font-weight: 700;
      font-size: 28px;
      color: $color-on-background-variant;
      margin-top: 15px;
    }

    .auth-form {
      margin-top: 25px;

      .form-field {
        + .form-field {
          margin-top: 25px;
        }

        mat-label {
          font-family: $font-family-tertiary;
          font-weight: 700;
          font-size: 16px;
          display: block;
          color: $color-on-background-variant;
          margin-bottom: 10px;
        }

        mat-form-field {
          width: 450px;

          .mat-input-element {
            @extend .input-base-style;
            color: $color-on-background;

            &::placeholder {
              color: red !important;
            }
          }
        }
      }

      .forgot-password {
        display: block;
        margin-top: 7.5px;
        text-align: right;
        font-family: $font-family-primary;
        font-size: 15.5px;
        color: $color-primary;
        text-decoration: none;
      }

      .auth-action-buttons {
        margin-top: 25px;
        display: flex;
        justify-content: space-between;
        align-items: stretch;

        .button-base-style {
          border-radius: 5px;
          outline: none !important;
          font-family: $font-family-tertiary;
          font-size: 15px;
        }

        .local-auth-btn {
          @extend .button-base-style;
          flex: 2;
          background-color: $color-primary;
          color: $color-on-primary;

          &:hover {
            background-color: $color-primary-overlay;
          }
        }

        .or-divider {
          align-self: center;
          display: inline-block;
          margin: 0 25px;
          font-family: $font-family-primary;
          color: $color-on-background-gray-light;
          font-size: 16px;
        }

        .google-auth-btn {
          @include reset-button();
          @extend .button-base-style;
          background-color: $color-input-primary;
          color: $color-on-primary;
          display: flex;
          justify-content: flex-end;
          align-items: center;
          padding: 0 5px;
          flex: 1.5;

          &:hover {
            background-color: $color-input-primary-overlay;
          }

          .google-logo {
            background-color: #fff;
            border-radius: 3.5px;
            padding: 5px;
            width: 27.5px;
            height: auto;
            margin-left: 25px;
          }
        }
      }

      .go-signup {
        text-align: right;
        margin-top: 35px;
        font-family: $font-family-secondary;
        font-size: 15px;
        color: $color-on-background-gray;

        a {
          text-decoration: none;
          color: #4876F9;
          font-weight: 500;

          &:hover {
            color: #3a64da;
          }
        }
      }
    }
  }
}

.login-page-container {
  .left-side-image-bg {
    background-color: #F5D38C;

    .logo-img {
      filter: invert(57%) sepia(4%) saturate(4637%) hue-rotate(3deg) brightness(104%);
    }
  }
}
