@import "~src/variables";

.input-base-style {
  font-family: $font-family-tertiary;
  font-size: 14px;

  margin: 0;
}

:host ::ng-deep .auth-input-container {
  .label-text {
    display: inline-block;
    font-family: $font-family-tertiary;
    font-weight: 700;
    font-size: 16px;
    color: $color-on-background-variant;
    margin-right: 2.5px;
    margin-bottom: 10px;
  }

  .error-message {
    opacity: 0.95;
    font-size: 11.5px !important;
  }

  .mat-form-field {
    .mat-form-field-wrapper {
      padding-bottom: 0;
    }

    .mat-form-field-flex {
      background-color: $color-input-bg-light-blue;
      border-radius: 8.5px;
      padding: 0 15px;
      height: 45px;
      align-items: center;
      transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);

      .mat-form-field-label-wrapper {
        padding: 0;
        top: 0;
        left: 0;

        .mat-form-field-label {
          @extend .input-base-style;
          top: 0;
          left: 0;
          transform: translateY(7.5px);
          color: $color-on-background-gray-light;
        }
      }

      &:hover {
        box-shadow: 0 0 0 1px $color-focus-primary-light, 0 0 0 3.5px rgba(97, 197, 174, 0.15);
      }

      .mat-form-field-infix, .mat-form-field-outline-start, .mat-form-field-outline-gap, .mat-form-field-outline-end {
        border: 0;
      }
    }

    .mat-form-field-underline {
      display: none;
    }

    &.mat-focused .mat-form-field-flex {
      box-shadow: 0 0 0 1px $color-primary-light, 0 0 0 3.5px rgba(97, 197, 174, 0.25);

      .mat-form-field-label {
        color: $color-on-background-gray;
      }
    }
  }
}

.auth-input-container {
  mat-form-field {
    width: 385px;

    .mat-input-element {
      @extend .input-base-style;
      color: $color-on-background;
    }
  }
}
