<footer class="bottom-navbar-container footer">
  <div class="container-fluid footer-up-wrapper">
    <div class="row align-items-center justify-content-between">
      <a class="logo col-auto" href="#">
        <img [src]="AssetsSrcConstant.SOLID_LOGO" alt="">
      </a>
      <div class="nav-links col">
        <a [href]="AppRouteConstant.FACEBOOK_CONTACT">About us</a>
        <a [href]="AppRouteConstant.FACEBOOK_CONTACT">Contact</a>
        <a [href]="AppRouteConstant.FACEBOOK_CONTACT">Help</a>
      </div>
    </div>
    <div class="row align-items-end justify-content-between">
      <div class="social-links col-auto">
        <a [href]="AppRouteConstant.FACEBOOK_CONTACT">
          <fa-icon [icon]="socialIcons.facebook"></fa-icon>
        </a>
        <a [href]="AppRouteConstant.INSTAGRAM_CONTACT">
          <fa-icon [icon]="socialIcons.instagram"></fa-icon>
        </a>
        <a [href]="AppRouteConstant.YOUTUBE_CONTACT">
          <fa-icon [icon]="socialIcons.youtube"></fa-icon>
        </a>
        <a [href]="AppRouteConstant.GITHUB_CONTACT">
          <fa-icon [icon]="socialIcons.github"></fa-icon>
        </a>
      </div>
      <p class="contact-email col">
        Email: &nbsp;
        <a class="email" [href]="AppRouteConstant.MAIL_CONTACT">beebapcay@gmai.com</a>
      </p>
    </div>
  </div>
  <div class="container-fluid footer-bot-wrapper">
    <div class="nav-links">
      <a href="">Terms of use</a>
      <a href="">Privacy policy</a>
      <a href="">Security Policy</a>
    </div>
    <p class="copyright">
      Copyright &copy;
      <a [href]="AppRouteConstant.GITHUB_CONTACT">beebapcay</a>
    </p>
  </div>
</footer>

