<div class="document-card-main-container">
  <div class="action-container">
    <button class="star-btn" disableRipple mat-icon-button>
      <mat-icon>star</mat-icon>
    </button>
    <button class="more-btn" mat-icon-button>
      <mat-icon>more_vert</mat-icon>
    </button>
  </div>
  <div class="content-container">
    <img alt="" class="illus-img" src="assets/images/document.svg">
    <div class="hashtag-list-container">
      <app-hashtag [size]="SizeEnum.SMALL" class="hashtag-item" hashtag="hashtag"></app-hashtag>
      <app-hashtag [size]="SizeEnum.SMALL" class="hashtag-item" hashtag="hashtag"></app-hashtag>
      <app-hashtag [size]="SizeEnum.SMALL" class="hashtag-item" hashtag="hashtag"></app-hashtag>
    </div>
    <h3 class="name">Notemon Document</h3>
    <p class="author">Author: beebapcay</p>
    <p class="last-updated">Last updated: 17/04/2021</p>
  </div>
</div>
