<div class="feature-page-container">
  <section class="welcome-intro row">
    <div class="col-md-6">
      <h1>Make Your Work<br> Become<br> Easy and Professional.</h1>
      <p>We provide many awesome features that assists you to create and manage your documents.</p>
      <p>Share and keep connections in sync with all your co-workers.</p>
      <div class="action-button-group row">
        <a class="col-md-auto btn-start-quick-note" disableRipple href="#" mat-flat-button>Start a
          Quick Note</a>
        <a class="col-md-auto btn-create-workspace" href="#" mat-button>Create your Workspace</a>
      </div>
      <a class="btn-watch-intro-video" href="#">
        Watch the Introduction Video
        <mat-icon>keyboard_arrow_right</mat-icon>
      </a>
    </div>
    <div class="col-md-6 intro-gif-wrapper">
      <img alt="" class="intro-gif" src="assets/images/intro_feature.gif">
    </div>
  </section>

  <section class="main-feature-intro">
    <h1>Virtual Writing Environment</h1>
    <div class="feature-list-card">
      <div class="feature-card">
        <h3>Quick and easily create and manage documents</h3>
        <div class="feature-content">
          <img alt="" class="time-saving-img" src="assets/images/time-saving.png">
          <div>
            <p>You can quickly and easily create a full-featured note document without any other
              requirements.</p>
            <p>For users with an account, we provide a fully functional interface to
              manage all your document records.</p>
          </div>
        </div>
      </div>
      <div class="feature-card">
        <h3>User-friendly interface and easy to use</h3>
        <div class="feature-content">
          <img alt="" class="interface-img" src="assets/images/interface.png">
          <div>
            <p>Easy to use interface for any user. Using Flat Design.</p>
            <p>We also provide 2 themes Light and Dark</p>
          </div>
        </div>
      </div>
      <div class="feature-card">
        <h3>Free and no advertisement</h3>
        <div class="feature-content">
          <img alt="" class="free-img" src="assets/images/free.png">
          <div>
            <p>All features are free for everyone. The source code of the project is publicly
              available on Github.</p>
            <p>No advertisement, no hidden costs.</p>
          </div>
        </div>
      </div>
      <div class="feature-card">
        <h3>Provides a variety of document writing support functions</h3>
        <div class="feature-content">
          <img alt="" class="function-img" src="assets/images/function.png">
          <div>
            <p>We provide a variety of document writing support functions.</p>
            <p>You can easily create and manage your documents.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="hero-em-feature sharing-feature">
    <h2>Sharing and collaborating makes work smoother</h2>
    <img alt="" src="assets/images/colab.png">
    <p>You can share your notes or directories.</p>
    <p>We allow to create link share or send email to share with different permissions.</p>
  </section>

  <section class="hero-em-feature chatting-feature">
    <h2>Chat while editing documents together</h2>
    <img alt="" src="assets/images/chat.png">
    <p>We provide chat feature between multiple members while collaborating on editing. </p>
    <p>This is great for getting ideas connected and shared.</p>
  </section>

  <section class="welcome-explore">
    <h1>Notemon is still being developed and updated continuously<br>Explore us now</h1>
    <a class="btn-start-quick-note" disableRipple href="#" mat-flat-button>Start a Quick Note</a>
  </section>
</div>






