<div class="note-page-container" [ngClass]="{'quick-page-note': isQuickNotePage}">
  <app-top-navbar-editor (updatedDocumentEmitted)="updateFromTopNav($event)"
                         [isLoggedIn]="isLoggedIn"
                         [item]="note"
                         *ngIf="!isQuickNotePage"
  >
  </app-top-navbar-editor>
  <app-notemon-editor
    [note]="note"
    [isQuickNotePage]="isQuickNotePage"
  >
  </app-notemon-editor>
  <button class="setting-btn" mat-button>
    <mat-icon>settings</mat-icon>
    Settings
  </button>
  <app-option-sidebar *ngIf="!isQuickNotePage"></app-option-sidebar>
  <button class="message-btn" *ngIf="!isQuickNotePage" mat-button>
    <mat-icon>forum</mat-icon>
    Message
  </button>
  <button class="help-btn" mat-icon-button disableRipple>
    <mat-icon>help_outline</mat-icon>
  </button>
</div>

