<ng-container>
  <auth-input
    label="Name"
    name="name"
    control="name"
    placeholder="Enter your name"
    type="text"
    [formGroup]="formGroup"
    [showError]="showErrors"
    [required]="true"
  >
  </auth-input>
  <auth-input
    label="Email"
    name="email"
    control="email"
    placeholder="Enter your email"
    type="email"
    [formGroup]="formGroup"
    [showError]="showErrors"
    [required]="true"
  >
  </auth-input>
  <auth-input
    label="Password"
    name="password"
    control="password"
    placeholder="Enter your password"
    type="password"
    [formGroup]="formGroup"
    [showError]="showErrors"
    [required]="true"
  >
  </auth-input>
</ng-container>
