@import "~src/variables";

.navbar {
  height: 65px;
  padding: 0 75px;
  background-color: $color-background;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);

  .navbar-brand {
    margin: 0;

    .logo {
      width: auto;
      height: 35px;
    }
  }

  .navbar-nav {
    margin-left: 40px;

    .nav-item {
      & + .nav-item {
        margin-left: 25px;
      }

      .nav-link {
        color: $color-on-background-variant;
        font-family: Roboto, sans-serif;
        font-weight: 500;
        font-size: 16.5px;
        transition: all 0.25s ease;

        &:hover {
          color: $color-primary;
        }
      }
    }
  }

  theme-toggle-button {
    margin-left: auto;
    margin-right: 27.5px;
  }

  .auth-btn {
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 17.5px;
    border-radius: 5px;
    transition: background-color 0.25s ease;
  }

  .login-btn {
    @extend .auth-btn;
    color: $color-primary;
    padding: 0 30px;
    margin-right: 25px;

    &:active {
      @include outline-focus(rgba(192, 200, 206, 0.05));
      color: $color-primary-overlay;
    }
  }

  .signup-btn {
    @extend .auth-btn;
    background-color: $color-variant;
    color: $color-on-variant;
    padding: 0 40px;

    &:hover {
      background-color: $color-primary;
      color: $color-on-primary;
      transition: none;
    }

    &:active {
      @include outline-focus(#c0c8ce);
      background-color: $color-primary-overlay;
    }
  }
}
