<div class="directory-card-main-container">
  <div class="action-container">
    <mat-icon>star</mat-icon>
    <button mat-icon-button>
      <mat-icon>more_vert</mat-icon>
    </button>
  </div>
  <div class="content-container">
    <div class="main-content">
      <img alt="" class="illus-img" src="assets/images/directory.png">
      <h3 class="name">Notemon Document</h3>
      <p class="author">Author: beebapcay</p>
    </div>
    <div class="sub-content">
      <p class="created-date">Created date: 13/01/2022</p>
      <p class="number-of-items">Number of items: 0</p>
    </div>
  </div>
</div>
