@import "~src/variables";

:host {
  width: 100%;
  height: 100%;
}

.error-page-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .err-img {
    margin-right: 125px;

    img {
      max-width: 375px;
      height: auto;
      opacity: 0.875;
    }
  }

  .err-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .oops {
      font-size: 28px;
      font-family: $font-family-primary;
      font-weight: 500;
      color: $color-error;
    }

    .code {
      font-size: 68px;
      font-family: $font-family-tertiary;
      font-weight: 700;
      margin: 32px 0 48px;
    }

    .msg,
    .go-home-page {
      font-family: $font-family-primary;
      text-align: center;
      font-size: 16px;
      color: $color-on-background-gray-light;
      margin: 0 0 5px;
    }

    .go-home-page-btn {
      margin-top: 18px;
      background-color: $color-primary;
      color: $color-on-primary;

      &:active {
        @include outline-focus($color-focus-gray);
      }
    }
  }
}


@media screen and (max-width: map-get($container-max-widths, md)) {
  .error-page-container {
    flex-direction: column;
    justify-content: center;

    .err-img {
      margin-right: 0;
      margin-bottom: 85px;

      img {
        max-width: 325px;
      }
    }

    .err-description {
      .oops {
        font-size: 26px;
        font-weight: 500;
      }

      .code {
        font-size: 38px;
        margin: 15px 0 30px;
      }

      .msg {
        font-size: 12px;
      }
    }
  }
}
