<div class="error-page container-fluid">
  <div class="err-img">
    <img [src]="AssetsSrcConstant.ERROR_404_2" alt="">
  </div>
  <div class="err-description">
    <h1 class="oops">Oops!</h1>
    <h2 class="code">{{error?.code}}</h2>
    <p [innerHTML]="error?.message" class="msg"></p>
    <ng-container
      *ngIf="error?.code !== ErrorCodeEnum.NotSupported">
      <p class="go-home-page">You can visit our home page instead</p>
      <a [routerLink]="AppRouteConstant.HOME" class="go-home-page-btn" mat-flat-button>
        Go to Home Page
      </a>
    </ng-container>
  </div>
</div>



