@import "src/variables";

.directory-card-main-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  cursor: pointer;
  background-color: $color-background;
  border: 1px solid $color-border-gray;
  border-radius: 12.5px;
  width: 250px;
  height: 325px;

  .content-container {
    flex: 1;
    margin: 8.5px 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;

    .main-content {
      flex: 1;
      padding: 0 15px;
      display: flex;
      flex-direction: column;

      .illus-img {
        align-self: center;
        width: 100px;
        height: auto;
        opacity: 95%;
        margin-bottom: 25px;
      }

      .name {
        font-family: $font-family-mono;
        border-radius: 5px;
        border: 0;
        padding: 1.5px 1.5px;
        font-weight: 700;
        font-size: 16px;
        margin-bottom: 7.5px;
        color: $color-on-background-variant-dark;

        &:focus {
          outline: 1px solid $color-border-gray-focus;
          background-color: rgba(97, 197, 174, 0.05);
        }
      }

      .author {
        font-family: $font-family-primary;
        font-size: 13.5px;
        color: $color-on-background-gray-dark;
      }
    }

    .sub-content {
      border-top: 1px solid $color-border-gray;
      padding: 15px 15px 0;
      font-family: $font-family-primary;
      color: $color-on-background-gray-light;
      text-align: right;

      .created-date {
        margin-bottom: 2.5px;
        font-size: 12px;
      }

      .number-of-items {
        margin-bottom: 0;
        font-size: 10.5px;
      }
    }
  }

  &:hover {
    .illus-img {
      opacity: 100% !important;
    }
  }
}
