<div class="directory-card-main-container">
  <card-action-bar [type]="NotemonCardTypeEnum.DEFAULT"></card-action-bar>
  <div class="content-container">
    <div class="main-content">
      <img [src]="NotemonCardTypeEnum.DIRECTORY | notemonCardImg" alt="" class="illus-img">
      <h3 class="name">Notemon Document</h3>
      <p class="author">Author: beebapcay</p>
    </div>
    <div class="sub-content">
      <p class="created-date">Created date: 13/01/2022</p>
      <p class="number-of-items">Number of items: 0</p>
    </div>
  </div>
</div>
