<mat-menu #[matMenu]='matMenu'>
  <button mat-menu-item>
    <mat-icon>person_add</mat-icon>
    <span>Share</span>
  </button>
  <button mat-menu-item>
    <mat-icon>link</mat-icon>
    <span>Get link</span>
  </button>
  <button mat-menu-item>
    <mat-icon>star</mat-icon>
    <span>Add to Starred</span>
  </button>
  <button mat-menu-item>
    <mat-icon>edit</mat-icon>
    <span>Rename</span>
  </button>
  <mat-divider></mat-divider>
  <button mat-menu-item>
    <mat-icon>info</mat-icon>
    <span>View detail</span>
  </button>
  <button mat-menu-item>
    <mat-icon>cloud_download</mat-icon>
    <span>Download</span>
  </button>
  <mat-divider></mat-divider>
  <button mat-menu-item>
    <mat-icon>delete</mat-icon>
    <span>Remove</span>
  </button>
</mat-menu>
