@import "~src/variables.scss";


:host {
  width: 100%;
  min-height: calc(100vh - #{$app-top-navbar-main-height});
  background-color: $color-background-gray;
  display: flex;
  flex-direction: column;
}

.dashboard-page-container {
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 35px 75px 65px;
}
