<div class="dashboard-page-container">
  <section class="hashtag-section">
    <h3 class="section-header">Your hashtag</h3>
    <div class="hashtag-list-container">
      <app-hashtag
        *ngFor="let hashtag of [1,2,3,4,5,6,7,8,9,10]; let i = index"
        [animated]="true"
        [hashtag]="'hashtag: ' + i"
        [size]="SizeEnum.MEDIUM"
      ></app-hashtag>
    </div>
  </section>

  <div class="action-buttons">
    <app-new-notemon-button [type]="NotemonCardTypeEnum.DIRECTORY"
                            (click)="onNewDocumentClicked(NotemonTypeEnum.DIRECTORY)"></app-new-notemon-button>
    <app-new-notemon-button [type]="NotemonCardTypeEnum.DOCUMENT"
                            (click)="onNewDocumentClicked(NotemonTypeEnum.NOTE)"></app-new-notemon-button>
  </div>

  <p class="summary">100 Directories - 20 Document</p>

  <section class="started-section">
    <h3 class="section-header">Started</h3>
    <div class="started-list-container">
      <app-notemon-card-variant
        *ngFor="let directory of [1,2,3]; let i = index"
        [type]="i % 2 === 0 ? NotemonCardTypeEnum.DIRECTORY : NotemonCardTypeEnum.DOCUMENT"
      ></app-notemon-card-variant>
    </div>
  </section>

  <section class="directory-section">
    <h3 class="section-header">Directories</h3>
    <div class="directory-list-container">
      <app-directory-card-main
        *ngFor="let directory of [1,2,3]; let i = index"
      ></app-directory-card-main>
    </div>
  </section>

  <section class="document-section">
    <h3 class="section-header">Documents</h3>
    <div class="document-list-container">
      <app-document-card-main
        *ngFor="let directory of [1,2,3]; let i = index"
      ></app-document-card-main>
    </div>
  </section>
</div>
