<div class="login-page-container">
  <div class="left-side-image-bg">
    <img alt="" class="logo-img" src="assets/images/flat_logo.svg">
    <h3 class="slogan">Making Your Work<br>Become<br>Easy and Professional</h3>
    <img alt="" class="center-img-bg" src="assets/images/login_side_bg.png">
  </div>
  <div class="right-side-login-form">
    <div class="d-flex flex-column">
      <img alt="" class="logo-img" src="assets/images/logo.svg">
      <h1 class="login-title">Login to Notemon</h1>
      <form class="login-form">
        <div class="form-field">
          <mat-label>Email</mat-label>
          <mat-form-field appearance="legacy" class="email-field" floatLabel="never">
            <input
              class="email-input"
              id="email-input"
              matInput
              placeholder="Enter your email"
              type="email">
          </mat-form-field>
        </div>

        <div class="form-field">
          <mat-label>Password</mat-label>
          <mat-form-field appearance="legacy" class="email-field" floatLabel="never">
            <input
              class="password-input"
              id="password-input"
              matInput
              placeholder="Enter your password"
              type="password">
          </mat-form-field>
        </div>
        <a class="forgot-password" href="">Forgot Password?</a>
        <div class="login-action-buttons">
          <button class="local-login-btn" disableRipple mat-button>Login</button>
          <span class="or-divider">or</span>
          <button class="google-login-btn">
            Google
            <img alt="" class="google-logo" src="assets/images/google_logo.svg">
          </button>
        </div>
        <p class="go-signup">New a member? <a href="" mat-button>Signup now</a></p>
      </form>
    </div>
  </div>
</div>
