<div class="settings-draw-sidebar-container">
  <section class="draw-header-container">
    <h4>Settings</h4>
    <button class="draw-close" mat-button>
      <mat-icon>close</mat-icon>
    </button>
  </section>
  <section class="account-settings-container">
    <h5>Account</h5>
    <div class="account-content-container">
      <div class="left-content">
        <mat-icon>account_circle</mat-icon>
        <button class="logout-btn" mat-button>Logout</button>
      </div>
      <div class="right-content">
        <p class="name">Duong Tan Phat</p>
        <p class="email">beebapcay@gmail.com</p>
        <a href="" class="change-name-link-btn" mat-button>
          Change your name
        </a>
        <a href="" class="change-password-link-btn" mat-button>
          Change your password
        </a>
      </div>
    </div>
  </section>
  <section class="writing-mode-container">
    <h5>Writing Mode</h5>
    <mat-radio-group class="writing-mode-radio-group">
      <mat-radio-button class="writing-mode-radio-item">
        Normal
      </mat-radio-button>
      <mat-radio-button class="writing-mode-radio-item">
        Normal
      </mat-radio-button>
    </mat-radio-group>
  </section>
  <section class="setting-goal-container">
    <h5>Setting Goal</h5>
    <div class="goal-item">
      <h6>Document</h6>
      <mat-label>Words</mat-label>
      <mat-form-field appearance="legacy" floatLabel="never">
        <input
          type="number"
          matInput
        >
      </mat-form-field>
      <mat-label>Characters</mat-label>
      <mat-form-field appearance="legacy" floatLabel="never">
        <input
          type="number"
          matInput
        >
      </mat-form-field>
    </div>
    <div class="goal-item">
      <h6>Section</h6>
      <mat-label>Words</mat-label>
      <mat-form-field appearance="legacy" floatLabel="never">
        <input
          type="number"
          matInput
        >
      </mat-form-field>
      <mat-label>Characters</mat-label>
      <mat-form-field appearance="legacy" floatLabel="never">
        <input
          type="number"
          matInput
        >
      </mat-form-field>
      <mat-label>Time</mat-label>
      <mat-form-field appearance="legacy" floatLabel="never">
        <input
          type="number"
          matInput
        >
      </mat-form-field>
    </div>
  </section>
  <section class="theme-container">

  </section>
</div>




