@import "~src/variables.scss";

snack-bar-container {
  padding: 0 !important;
  min-height: initial !important;
  box-shadow: none !important;
  background-color: transparent;
  border-radius: 5px !important;
}

div.snackbar-container {
  display: flex;
  padding: 7.5px 15px;
  border-radius: 5px;
  align-items: center;

  .snackbar-message {
    font-family: $font-family-tertiary;
    font-size: 12.5px;
    margin-bottom: 0;
  }

  .snackbar-close {
    outline: none;
    margin-left: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $font-family-primary;
    font-size: 11.5px;
  }
}

.snackbar {
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.03), 0 0 5px rgba(0, 0, 0, 0.05), 0 0 10px rgba(0, 0, 0, 0.07);
  border-width: 1px;
  border-style: solid;
}

.snackbar-success {
  @extend .snackbar;
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;

  button.snackbar-close {
    color: #2AB86E;
  }
}

.snackbar-error {
  @extend .snackbar;
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;

  button.snackbar-close {
    color: #FF0000;
  }
}

.snackbar-warning {
  @extend .snackbar;
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;

  button.snackbar-close {
    color: #FFA500;
  }
}

.snackbar-info {
  @extend .snackbar;
  color: #0c5460;
  background-color: #d1ecf1;
  border-color: #bee5eb;

  button.snackbar-close {
    color: #2196F3;
  }
}
