@import "~src/variables";

.application-container {
  width: 100%;
  height: 100%;

  .supported-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    .main-container {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .unsupported-container {
    width: 100%;
    height: 100%;
    display: none;
  }
}

@media screen and (max-width: map-get($container-max-widths, md)) {
  .application-container {
    .supported-container {
      display: none;
    }

    .unsupported-container {
      display: block;
    }
  }
}
